@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(31, 41, 55);
  background-image: url(../public/logo.png);
  background-repeat: no-repeat;
  background-position: 145% 400%;
  background-size: 350px;
}

.logo {
  width: 25px;
}

.nav-title-1 {
  color: #61DAFB;
}

.main {
  max-width: 450px;
}

.main-title {
  font-size: 2rem;
  font-weight: 700;

}

li {
  list-style: inside;

}

li::marker {
  font-size: larger;
  color: #61DAFB;
}