.header {
  display: flex;
  justify-content: space-around;
  height: 3rem;
  background-color: beige;
  align-items: center;
}

nav {
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: right;
  font-style: none;
}

.nav-item {
  text-decoration: none;
  color: black;
}